@import '../../node_modules/bootstrap/scss/bootstrap.scss'
    
// @import 'test-import'
// @import 'test-scss'

.img
    display: block
    height: 220px
    background-position: center

footer
    color: lightgrey
    font-size: 10px