extends layout

block content
  if file
    h1 Edit or update #{file.id} // #{file.name}
    form(action='/form/update' method='post')
      input(type='hidden' id='id' name='id' value=file.id)
      label(for='name') Name:
      input(type='text' id='name' name='name' value=file.name required)
      input(type='submit' value='go')
  else
    h1 Add or create
    form(action='add' method='post' enctype='multipart/form-data')
      div
        label(for='name') Name:
        input(type='text' id='name' name='name' required)
      div
        label(for='myimg') Mon image:
        input(type='file' name='myimg')
      input(type='submit' value='go')