hr
footer.row 
    .col 
        p Cette page est faite avec Node.js + Epress + une base de données + Pug + Sass + Bootstrap.
        p Il y a une page admin sécurisée et accessible via un mot de passe. 
        p Un CRUD permet de gérer les posts. Les images sont uploadées en Ajax. 
        p La dernière modification a été réalisée le 05/12/2018.