header
    nav.navbar.navbar-dark.bg-dark
        a.navbar-brand(href='/') Home
        a.navbar-brand(target="_blank" href='http://angel-tools.ddns.net/printableCV') CV
        a.navbar-brand(target="_blank" href="https://www.linkedin.com/in/gabrielbrun") Linkedin
        a.navbar-brand(target="_blank" href="https://github.com/lydstyl/") Github
        if session.admin
            a.navbar-brand(href='/manage') Manage
            a.navbar-brand(href='/logout') Logout
        else
            a.navbar-brand(href='admin') Admin