extends layout

block content
  .posts.container
    h1= message
    if posts
      each post, index in posts
        if index % 3 == 0
          .row
            - var n = 0
            while n < 3
              - var i = index + n
              - n++
              if posts[i]
                - var item = posts[i]
                .col-md-4
                  a(href="experience/" + item.id)
                    .img(target='_blank' href='#' style="background-image:url(" + item.imgsrc + ");")
                  h3= item.name
                  p= item.smdesc
                    span 
                    a(href="experience/" + item.id) plus
                      
                  if session.admin
                    p
                      a(href="form/edit/" + item.id) Editer
                      span  / 
                      a(href="form/del/" + item.id) Supprimer
    else
      p Sorry, on dirait bien qu'il n'y a pas de post.

    - var page = 0;
    nav
      ul.justify-content-center.pagination.pagination-lg
        while page < pageNb
          - page++
          li.page-item
            a.page-link( href="page" + page ) #{page}