extends layout

block content
  h1= message
  p Mon coco --> #{message}
  p Files --> #{files}
  if posts
    ul
      each post, index in posts
        li
          div= index + ': ' + post.name
          if session.admin
            a(href="form/del/" + post.id) Supprimer le post