extends layout

block content
  h1= message
  if posts
    ul
      each post, index in posts
        li
          div= index + ': ' + post.name
          if session.admin
            a(href="form/edit/" + post.id) Editer le post
            br
            a(href="form/del/" + post.id) Supprimer le post