extends layout

block content
  h1= message
  if posts
    ul
      each post, index in posts
        li
          div= index + ': ' + post.name
          if session.admin
            a(href="form/edit/" + post.id) Editer le post
            br
            a(href="form/del/" + post.id) Supprimer le post
    h2 Pagination: #{pageNb} page(s)
      - var n = 0;
      ul
        while n < pageNb
          - n++
          li
            a( href="page" + n ) Page #{n}
  else
    p Sorry boby mais on dirait bien qu'il n'y a pas de post