doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      // https://getbootstrap.com/docs/4.1/components/navbar/
      nav.navbar.navbar-dark.bg-dark
        a.navbar-brand(href='/') Home
        a.navbar-brand(target="_blank" href='https://lydstyl.github.io/181101-printable-cv/dist/') CV
        a.navbar-brand(target="_blank" href="https://www.linkedin.com/in/gabrielbrun") Linkedin
        a.navbar-brand(target="_blank" href="https://github.com/lydstyl/") Github
        if session.admin
          a.navbar-brand(href='/form/add') Add
          a.navbar-brand(href='/logout') Logout
        else
          a.navbar-brand(href='admin') Admin
    .container
      //header
        //- img(src="/img/portfolio.gif", alt="portfolio")
      block content
    footer Mon footer
    script(src='/js/app.js')