doctype html
html
  head
    title= title
    //- title Portfolio Gabriel Brun
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      p User: #{session.admin}
    nav 
      ul
        li
          a(class='button' href='admin') Admin
        li
          a(class='button' href='/') Home
        li
          a(class='button' href='page2') Page 2
        li
          a(href='/logout') Logout
    block content
